*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar{
    background-color: #0f1111;
    /* background-color: aqua; */
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 60px;
}

img{
    height: 60px;
    width: 113px;
    align-self: flex-end;
}

.delivery{
    display: flex;
    color: #cccccc;
    font-size: 12px;
}

#delivery-location>span{
    color: white;
    font-size: 16px;
}
#location-logo{
    color: white;
    align-self: center;
    font-size: 18px;
    margin: 5px;
}

.search{
    box-sizing: content-box;
    display: flex;
    height: 40px;
}

.search:hover{
    border: solid 2px #FF9900;
    border-radius: 7px;
}

.search > button{
    height: 40px;
    width: 40px;
    background-color: #FF9900;
    border: 0;
    border-radius: 0 5px 5px 0 ;
}
#search-text{
    height: 40px;
    width: 800px;
    border: 0;
    padding-left: 10px;
}

#categories{
    background-color: #c9c9c9;
    height: 40px;
    width: 50px;
    border: 0;
    border-radius: 5px 0 0 5px;
}

#languages{
    height: 40px;
    background-color: #0f1111;
    color: white;
    border: 0;
}

.greet{
    font-size: 13px;
}
#accounts{
    background-color: #0f1111;
    color: #c9c9c9;
    border: 0;
    font-weight: bold
}

.account > label{
    font-weight: 600;
    font-size: 15px;
}

.order >span{
    font-weight: 600;
    font-size: 15px;
}

.order{
    font-size: 13px;
}

.fa-cart-shopping{
    font-size: 25px;
}

.cart{
    display: flex;
}

#cart-count{
    color: #FF9900;
    margin: 5px;
}

.cart >span{
    align-self: center;
    font-size: 15px;
    font-weight: 600;
}

.panel{
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    height: 40px;
}

.panel-options{
    display: flex;
}

.panel-hamburger-menu{
    display: flex;
    padding: 10px;
    height: 15px;
    align-items: center;
}

.panel-hamburger-menu p{
    margin: 5px;
}

.panel-options p {
    padding: 8px 10px;
}

.hover-border:hover{
    border: 2px solid white;
}

.hero{
    display: flex;
    background-image: url(./images/hero_image.jpg);
    background-size: cover;
    height: 300px;
    justify-content: center;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); */
    /* width: 100%; */
    /* object-fit: contain; */
}

#current-domain{
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    height: 40px;
    width: 1460px;
    padding: 10px 14px;
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: 10px;
    /* text-align: center; */
    
}

#current-domain a{
    text-decoration: none;
    color: #146eb4;
    margin: 2px;
}
